{% extends 'base.html.twig' %}

{% block title %}Meal index{% endblock %}

{% block body %}
    <div class="header">
        <h1>Meals</h1>
        <a class="btn btn--primary " href="{{ path('app_meal_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for meal in meals %}
            <tr>
                <td>{{ meal.name }}</td>
                <td>
                    <a class="link" href="{{ path('app_meal_show', {'id': meal.id}) }}">show</a>
                    <div class="divider"></div>
                    <a class="link" href="{{ path('app_meal_edit', {'id': meal.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
